main {
    width: 100%;
    height: 100vh;
    
    display: flex;
    align-items: center;

    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;

    .text {
        max-width: 50%;
    
        .quote {
            font-family: "Roboto", sans-serif;

            font-size: 3rem;
            font-weight: 700;

            color: #E5E5E5;
            text-shadow: #E5E5E5 0px 0 80px;
        }
        .author {
            font-family: "Meow Script", cursive;

            font-size: 2rem;
            font-weight: 600;
            
            position: absolute;
            margin-top: 1.5rem;
            padding-left: 20px;
            box-sizing: border-box;

            color: #ADB5BD;
        }
    }
}